h1
{
color: hotpink;
text-align: center;
}
table
{
    background-color: skyblue;
    border: 2px solid green;
    border-radius: 26px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
    width: 50%;

}
input 
{

    border-radius: 20px;
    background-color: 
}

