
		h1{
			color: green;
			font-family: verdana;
		}
		h2{
			color: hotpink;

		}
		p{
			color: blue;
			font-size: 1.5rem;
			text-align: justify;
		}
		div{
			background-color: yellow;
			border: 3px solid green;
			border-radius: 6px
			width:95%;
			padding: 1%;
			margin-top: 4px;
		}
		header{
			background-color: green;
			border: 3px solid green;
			border-radius: 6px
			width:95%;
			padding: 1%;
			margin-top: 4px;
		}
		footer{
			background-color: pink;
			border: 3px solid green;
			border-radius: 6px
			width:95%;
			padding: 1%;
			margin-top: 4px;
		}

   